# Flutter/Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.g.dart
*.freezed.dart

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Environment / secrets
*.env
key.properties
*.jks
*.keystore
google-services.json
GoogleService-Info.plist

# Logs
*.log

# Node
node_modules/
dist/
